<article class="job-search">
    <div class="wrapper position-relative">
        <img src="img/search_man.png" class="position-absolute">
        <div class="job-search-content">
            <div class="d-flex justify-content-center">
                <div class="input-group">
                    <input type="text" placeholder="關鍵字(職務、技能、語言)" class="form-control">
                    <div class="input-group-append">
                        <span class="d-block input-group-text h-100 align-center bg-white pt-2 pr-4 text-center text-truncate">地區</span>
                    </div>
                    <div class="input-group-append last">
                        <span class="d-block input-group-text h-100 align-center bg-white pt-2 pr-4 text-center text-truncate">職務類別</span>
                    </div>
                    <button type="button" class="btn btn-primary">搜尋</button>
                </div>
            </div>
            <div class="d-flex">
                <div class="job-search-content_link">
                    <ul class="list-inline job-search-content_link_key js-job-search-content_link_key">
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;order=1&amp;asc=0&amp;startby=4&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">可年後上班</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://104.com.tw/jobs/search/?ro=0&amp;jobcat=2010001002&amp;order=1&amp;asc=0&amp;sctp=S&amp;scmin=40000&amp;page=2&amp;mode=s&amp;jobsource=indexpoc2018">高薪作業員</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E6%80%A5%E5%BE%B5%20%E7%AB%8B%E5%8D%B3%E4%B8%8A%E7%8F%AD&amp;order=1&amp;asc=0&amp;excludeIndustryCat=1009001000&amp;kwop=7&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">急徵</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;order=1&amp;asc=0&amp;rostatus=2048&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">二度就業</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E7%84%A1%E7%B6%93%E9%A9%97%E5%8F%AF&amp;order=1&amp;asc=0&amp;kwop=7&amp;page=1&amp;jobexp=1&amp;mode=s&amp;jobsource=indexpoc2018">無經驗可</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;order=2&amp;asc=0&amp;sctp=S&amp;scmin=40000&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">月薪四萬起</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E5%BD%88%E6%80%A7%E6%8E%92%E7%8F%AD%20%E5%BD%88%E6%80%A7%E6%8E%92%E4%BC%91&amp;order=1&amp;asc=0&amp;excludeIndustryCat=1009001000&amp;kwop=7&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">彈性排班</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=2&amp;order=2&amp;asc=0&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">兼職</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E6%97%A5%E8%96%AA&amp;order=1&amp;asc=0&amp;kwop=7&amp;page=11&amp;mode=s&amp;jobsource=indexpoc2018">日薪</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;order=2&amp;asc=0&amp;s9=2&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">晚班</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=2&amp;order=1&amp;asc=0&amp;page=1&amp;wt=2&amp;mode=s&amp;jobsource=indexpoc2018">短期</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;jobcat=2002001000&amp;keyword=%E8%A1%8C%E6%94%BF&amp;order=1&amp;asc=0&amp;kwop=7&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">行政</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E7%B6%B2%E6%8B%8D&amp;order=1&amp;asc=0&amp;kwop=7&amp;page=8&amp;mode=s&amp;jobsource=indexpoc2018">網拍</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E5%92%96%E5%95%A1&amp;indcat=1016002000&amp;order=1&amp;asc=0&amp;kwop=1&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">咖啡</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E6%97%A5%E6%96%87&amp;order=1&amp;asc=0&amp;lang=2&amp;kwop=7&amp;page=2&amp;mode=s&amp;jobsource=indexpoc2018">日文</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E5%8A%A9%E7%90%86&amp;order=2&amp;asc=0&amp;kwop=7&amp;page=3&amp;mode=s&amp;jobsource=indexpoc2018">助理</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=2&amp;keyword=%E6%99%82%E8%96%AA150%E8%B5%B7&amp;order=1&amp;asc=0&amp;sctp=P&amp;scmin=150&amp;kwop=7&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">時薪150↑</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;jobcat=2004002005&amp;keyword=%E9%81%8A%E6%88%B2&amp;order=1&amp;asc=0&amp;kwop=7&amp;page=4&amp;mode=s&amp;jobsource=indexpoc2018">遊戲</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;jobcat=2005003005%2C2005003002&amp;order=1&amp;asc=0&amp;page=2&amp;mode=s&amp;jobsource=indexpoc2018">國外業務</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.104.com.tw/jobs/search/?ro=0&amp;keyword=%E8%8B%B1%E6%96%87&amp;order=1&amp;asc=0&amp;lang=1&amp;kwop=7&amp;page=1&amp;mode=s&amp;jobsource=indexpoc2018">英文</a>
                        </li>
                    </ul>
                    <ul class="list-inline job-search-content_link_area js-job-search-content_link_area">
                        <li class="list-inline-item"><a href="https://www.104.com.tw/cust/list/index/?jobsource=checkc">找公司</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/area/newjob/104jobs.cfm">最新工作</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/area/cj/foreign/searchJob">外商專區</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/area/cj/market/technology">上市上櫃</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/area/cj/tech/hsinchu">科技園區</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/jb/wage/jobWage/view?type=2&amp;wf=fresh">薪資情報</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/area/freshman/seniors">升學就業地圖</a></li>
                        <li class="list-inline-item"><a href="https://www.104.com.tw/employerbrand/?utm_source=PC_index&amp;utm_campaign=employerbrand">幸福企業</a></li>
                    </ul>
                </div>
                <div class="job-search-content_link_category js-job-search-content_link_category ml-auto">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.104.com.tw/jb/category/?cat=1&amp;jobsource=indexpoc2018">職務找工作</a>
                        </li>
                        <li>
                            <a href="https://www.104.com.tw/jb/category/?cat=3&amp;jobsource=indexpoc2018">產業找工作</a>
                        </li>
                        <li>
                            <a href="https://www.104.com.tw/jb/category/?cat=2&amp;jobsource=indexpoc2018">地區找工作</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>