<footer class="border-secondary">
    <div class="wrapper">
        <div class="d-flex">
            <div class="col-2">
                <div class="row">
                    <h3 class="mb-3">工作快找</h3>
                    <a class="d-block mb-4"
                       href="https://itunes.apple.com/tw/app/id437817158?mt=8"
                       target="_blank">
                        <img src="img/app_ios.png" alt="app_ios_download"/>
                    </a>
                    <a class="d-block mb-4"
                       href="https://play.google.com/store/apps/details?id=com.m104&amp;referrer=utm_source%3D104index"
                       target="_blank">
                        <img src="img/app_android.png" alt="app_android_download"/>
                    </a>
                    <a class="d-block mb-4" href="https://bnc.lt/YUMk/qYTQAed0Lv" target="_blank">
                        <img src="img/app_orcode.png" alt="app_download"/>
                    </a>
                </div>
            </div>
            <div class="col-10">
                <div class="row justify-content-between">
                    <div class="col-8">
                        <div class="row">
                            <h3>104 服務總覽</h3>
                            <ul class="list-inline service-link-list">
                                <li class="list-inline-item">
                                    <a href="https://case.104.com.tw/?cfrom=104bar"
                                       target="_blank">
                                        外包網
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.104.com.tw/area/startup/"
                                       target="_blank">
                                        新創企業
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://vip.104.com.tw/9/index.cfm"
                                       target="_blank">
                                        招募管理
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://plus.104.com.tw/" target="_blank">
                                        職涯社群
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://kids.104.com.tw/" target="_blank">
                                        Kids
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://tutor.104.com.tw/?tfrom=104bar"
                                       target="_blank">
                                        家教網
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="http://www.104.com.tw/jb/104i/category/zone?page=1&amp;pgsz=15&amp;area=6001000000&amp;indcat=1000000000&amp;jobcat=2000000000&amp;ro=0&amp;order=0&amp;subcnt=0&amp;fb_show_all_job=0&amp;sid=0&amp;mid=0&amp;degree=3&amp;smtype=1&amp;stage=1&amp;path=1&amp;pathSwitch=0&amp;zone=35"
                                       target="_blank">
                                        身心障礙
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.104.com.tw/biz/index.cfm?url=104n"
                                       target="_blank">
                                        人資工具
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://an9.104.com.tw/index/plan/hot.html"
                                       target="_blank">
                                        夢想搖籃
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://wow.104.com.tw/index/main.html"
                                       target="_blank">
                                        工作世界
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://learn.104.com.tw/?lfrom=104bar"
                                       target="_blank">
                                        教育網
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.104.com.tw/area/volunteer/index.cfm"
                                       target="_blank">
                                        天使志工
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://marketing.pro.104.com.tw/index.html"
                                       target="_blank">
                                        企業大師
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://104careu.104.com.tw/"
                                       target="_blank">
                                        銀髮銀行
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.cicisasa.com/"
                                       target="_blank">
                                        兒童美術館
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://learn.104.com.tw/certify.htm"
                                       target="_blank">
                                        證照中心
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.104china.com/"
                                       target="_blank">
                                        中國工作
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://hunter.104.com.tw/?trc=104b"
                                       target="_blank">
                                        獵才顧問
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://senior.104.com.tw/"
                                       target="_blank">
                                        高年級
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <h3>關於104</h3>
                            <ul class="list-inline service-link-list">
                                <li class="list-inline-item">
                                    <a href="https://corp.104.com.tw/"
                                       target="_blank">104企業網站</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://corp.104.com.tw/index5c51.html?m=article&amp;mid=93"
                                       target="_blank">加入104</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://plus.104.com.tw/channel/60129"
                                       target="_blank">104新聞室</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://corp.104.com.tw/indexf947.html?m=contact&amp;mid=47"
                                       target="_blank">合作提案</a>
                                </li>
                                <li>
                                    <a href="https://www.104.com.tw/area/seminar/" target="_blank">104講堂</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/104jobbank/" target="_blank">104粉絲頁</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <h3>求職服務</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.104.com.tw/question_admin/reaction.cfm"
                                       target="_blank">信箱：求職客服</a>
                                </li>
                                <li>專線：02-2912-6104 轉 2</li>
                                <li class="text-gray-40">服務時間：</li>
                                <li class="text-gray-40">週一至週五 9:00~19:00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <h3>徵才服務</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="http://www.104.com.tw/redirect/vip_message.htm"
                                       target="_blank">信箱：徵才客服</a>
                                </li>
                                <li>台北：02-2912-6104</li>
                                <li>台中：04-3700-6104</li>
                                <li>上海：86-21-50277104 轉 1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <h3>廣告 / 整合招募服務</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.104.com.tw/jb/service/ad/Contact" target="_blank">信箱：廣告客服</a>
                                </li>
                                <li>專線：02-2912-6104 轉 8710</li>
                                <li>專線：02-2912-6104 轉 8153</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <h3>104榮耀</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://plus.104.com.tw/activity/dfad69f0-01fd-460d-be86-7fc988d7aced"
                                       target="_blank">獲亞太區資安領導成就獎</a>
                                </li>
                                <li>
                                    <a href="https://plus.104.com.tw/activity/b4f9d8f8-4f2d-4d1f-92cc-42551d785d76"
                                       target="_blank">獲國際ISO 27001資安認證</a>
                                </li>
                                <li>
                                    <a href="https://corp.104.com.tw/indexf867.html?m=article&amp;mid=54"
                                       target="_blank">更多>></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-20 text-white text-center py-3 copyright-bar">
        <p class="mb-0">一零四資訊科技股份有限公司　版權所有 ©2018　建議瀏覽器chrome / IE11.0以上</p>
    </div>
</footer>
<script>
    var API_PATH = 'http://localhost:3002/api';
    var AD_API_PATH = 'http://localhost:3002/api/ad';
    var AD_VIEW_CLICK_PATH = 'http://static.s104.com.tw/aidma/view_click.gif';
    var HIGHER_JOB_LIST_API_PATH = 'http://localhost:3002/api/higher-job';

    var AD_RES_KEY_BANNER1_2 = 'b_777';
    var AD_RES_KEY_SPEC_COMPANY_1 = 'b_782';
    var AD_RES_KEY_SPEC_COMPANY_2 = 'b_779';
    var AD_RES_KEY_BANNER_2 = 'b_780';
    var AD_RES_KEY_HOT_VIP = 'b_781';
    var AD_RES_KEY_STRONGEST_MAIN_1 = 'b_784';
    var AD_RES_KEY_STRONGEST_MAIN_2 = 'b_785';
    var AD_RES_KEY_STRONGEST_MAIN_3 = 'b_786';
    var AD_RES_KEY_STRONGEST_MAIN_4 = 'b_787';
    var AD_RES_KEY_BRAND = 'b_783';
</script>
<script src="js/vendor.js?<%= new Date().getTime() %>"></script>
<script src="js/<%= jsFileName %>.js?<%= new Date().getTime() %>"></script>
</body>
</html>