<article class="wrapper mb-2 workplace-focus js-workplace-focus">
    <h2 class="title">職場焦點</h2>
    <div class="d-flex justify-content-between">
        <section data-url="https://goo.gl/Z1zQPV" data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/plus_320X180_1.jpg" alt="plus_320X180_1">
            <div class="card-body px-0 pb-1">
                <h5 class="card-title">新版勞基法修正內容對照表</h5>
                <p class="mb-3 text-truncate">Sherry Chiang▶人資同學會<br>震憾人資界的勞基法修改，對勞方、資方有何影響？</p>
            </div>
            <div class="card-footer border-top-0 bg-white px-0 pt-0">
                <ul class="list-unstyled">
                    <li><a href="https://goo.gl/b3oSg7" target="_blank">南向工作須知：越南工作法規</a></li>
                    <li><a href="https://goo.gl/nzFmhi" target="_blank">離職幾次，是企業容忍的底線？</a></li>
                    <li><a href="https://goo.gl/zQNBNt" target="_blank">年底轉職心情故事</a></li>
                </ul>
            </div>
        </section>
        <section data-url="https://goo.gl/AwTSSM" data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/plus_320X180_2.jpg" alt="plus_320X180_2">
            <div class="card-body px-0 pb-1">
                <h5 class="card-title">[討論] 36歲的抉擇～留不留？</h5>
                <p class="mb-3 text-truncate">目前擔任約聘人資，主管覺得我工作表現不差希望能留下幫忙但約聘身份不變…</p>
            </div>
            <div class="card-footer border-top-0 bg-white px-0 pt-0">
                <ul class="list-unstyled">
                    <li><a href="https://goo.gl/Crk41Y" target="_blank">中國工作甘苦：千金難買安定感</a></li>
                    <li><a href="https://goo.gl/e8osJj" target="_blank">高雄地區工程師的薪資？</a></li>
                    <li><a href="https://goo.gl/dh6aEX" target="_blank">除了有實習的人都找不到相關工作</a></li>
                </ul>
            </div>
        </section>
        <section data-url="https://goo.gl/wDpkZj" data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/plus_320X180_3.jpg" alt="plus_320X180_3">
            <div class="card-body px-0 pb-1">
                <h5 class="card-title">2018年4成企業平均加薪4%！？</h5>
                <p class="mb-3 text-truncate">景氣回溫！<br>104發布2018薪酬趨勢展望，40%企業會調薪，平均調幅4%，調薪最高產業是…</p>
            </div>
            <div class="card-footer border-top-0 bg-white px-0 pt-0">
                <ul class="list-unstyled">
                    <li><a href="https://goo.gl/6Bsdhu" target="_blank">畢業半年還沒找到穩定工作怎麼辦</a></li>
                    <li><a href="https://goo.gl/obCX48" target="_blank">面試9大常見崩潰問題大破解</a></li>
                    <li><a href="https://goo.gl/kybCRN" target="_blank">不是新鮮人卻想要轉換跑道</a></li>
                </ul>
            </div>
        </section>
    </div>
</article>