<aside class="wrapper mb-5 giver js-giver">
    <h2 class="title">BeAGiver</h2>
    <div class="d-flex justify-content-between">
        <section data-url="https://beagiver.com/"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/giver_1.jpg" alt="BeAGiver社群">
        </section>
        <section data-url="https://beagiver.com/search?keyword=beagiver%E8%A8%BA%E7%99%82%E5%AE%A4&utm_source=banner_timeline&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/giver_2.jpg" alt="職場智慧求解惑">
        </section>
        <section data-url="https://www.facebook.com/104job.consult/"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/giver_3.jpg" alt="FB職涯診療室">
        </section>
    </div>
</aside>