<article class="wrapper mb-5 workplace-senior js-workplace-senior">
    <h2 class="title">職場前輩</h2>
    <a href="https://beagiver.com/profile/298854" target="_blank">
        <div class="d-flex text-gray-40 workplace-senior_content">
            <div class="media">
                <img src="img/giver_176X176.png" class="my-auto">
                <div class="media-body pl-4 mt-1">
                    <h5>關於Justin Lee李明剛</h5>
                    <small class="d-block mt-3">始於電子商務，熟悉行動支付，歷經創新創業、走過兩岸通路、沉浸高階獵才、樂於分享實務。</small>
                    <p>
                        出身於資訊管理，因為好奇心與坐不住的性格，產品業務行銷創業兩岸獵才橫豎走了一遭。也許看得稍微多了點，許許多多的心得忍不住分享！未來，希望貢獻一點心力，幫助更多的朋友教學相長，協助更多的企業走出舞台！
                    </p>
                </div>
            </div>
            <div class="pl-4 py-2 my-4 workplace-senior_about">
                <h5>關於前輩</h5>
                <ul class="list-unstyled mb-0">
                    <li>藍天百腦匯集團 總裁室副處長</li>
                    <li>30 年前電商系統市佔第一</li>
                    <li>20 年前電信支付創新專利</li>
                    <li>10 年中兩岸通路潮起潮落</li>
                    <li>5&nbsp;&nbsp;&nbsp;年內獵才規劃分享學習</li>
                </ul>
            </div>
        </div>
    </a>
</article>