<aside class="wrapper video js-video">
    <h2 class="title">影音分享</h2>
    <div class="d-flex justify-content-between">
        <div data-url="https://beagiver.com/contentrwd/2/9b09a565-c8f4-49e3-9c1d-353083234364?utm_source=banner_timeline&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="video-card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/media_1.jpg" alt="人資講座 職場智慧">
            <div class="card-body">
                <h5 class="card-title mb-0">小百科!離職前不可不知的競業禁止</h5>
            </div>
        </div>
        <div data-url="https://beagiver.com/contentrwd/2/c94fc619-1ffe-49d2-bb70-3b3f890cae34?utm_source=banner_timeline&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="video-card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/media_2.jpg" alt="獵才月刊掌握求職市場即時脈動">
            <div class="card-body">
                <h5 class="card-title mb-0">創造平台，利用培訓提升組織競爭力</h5>
            </div>
        </div>
        <div data-url="https://beagiver.com/contentrwd/2/897c95de-f710-4564-ab91-f084cf77f809?utm_source=banner_timeline&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="video-card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/media_3.jpg" alt="職場動態">
            <div class="card-body">
                <h5 class="card-title mb-0">台灣麵包的經營哲學 – 從台灣看內地市場</h5>
            </div>
        </div>
    </div>
    <div class="video_more text-right">
        <a href="#">看更多>></a>
    </div>
</aside>