<aside class="wrapper mb-5 hunter js-hunter">
    <h2 class="title">職涯發展</h2>
    <div class="d-flex justify-content-between">
        <div data-url="https://hunter.104.com.tw/TC/information/course_index.jsp?trc=104e&utm_source=JB_E_Course&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/hunter_1.jpg" alt="人資講座 職場智慧">
        </div>
        <div data-url="https://hunter.104.com.tw/TC/information/emonthly_index.jsp?trc=104e&utm_source=JB_E_monthly&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/hunter_2.jpg" alt="獵才月刊掌握求職市場即時脈動">
        </div>
        <div data-url="https://hunter.104.com.tw/TC/information/work_place_tendency.jsp?utm_source=JB_E&utm_medium=banner&utm_campaign=E_POC"
             data-mouseoverclass="card-mouseover"
             class="card rounded-0 border-0 js_card-new-tab">
            <img src="img/hunter_3.jpg" alt="職場動態">
        </div>
    </div>
</aside>