<article class="job-search-higher mb-5">
	<div class="wrapper">
		<div class="job-search-content">
			<div class="d-flex justify-content-center">
	            <div class="input-group">
	                <input type="text" placeholder="關鍵字(職務、技能、語言)" class="form-control">
	                <div class="input-group-append">
	                    <span class="d-block input-group-text h-100 align-center bg-white pt-2 pr-4 text-center text-truncate">產業</span>
	                </div>
	                <div class="input-group-append">
	                    <span class="d-block input-group-text h-100 align-center bg-white pt-2 pr-4 text-center text-truncate">地區</span>
	                </div>
	                <div class="input-group-append last">
	                    <span class="d-block input-group-text h-100 align-center bg-white pt-2 pr-4 text-center text-truncate">職務類別</span>
	                </div>
	                <button type="button" class="btn btn-primary">搜尋</button>
	            </div>
	        </div>
		</div>
	</div>
</article>