<%- include('layout/_header') %>
<%- include('../components/banner-2/_banner-2') %>
<%- include('layout/_script', {ad: true}) %>
<script>
  new Banner2().render(error, data, false);
</script>
</body>
</html>