<%- include('layout/_header') %>
<style>
    .banner-1 {
        top: 0;
    }
</style>
<%- include('../components/banner-1/_banner-1') %>
<%- include('layout/_script') %>
<script>
  new Banner1().render1('http://localhost:3002/api/banner-1_1');
</script>
</body>
</html>