<%- include('layout/_header') %>
<%- include('../components/hot-vip/_hot-vip') %>
<%- include('layout/_script', {ad: true}) %>
<style>
    .hot-vip-list {
        width: 153.1px;
    }
</style>
<script>
  new HotVip().previewRender(error, data);
</script>
</body>
</html>