<%- include('layout/_header') %>
<%- include('../components/strongest-main/_strongest-main') %>
<%- include('layout/_script', {ad: true}) %>
<script>
  new StrongestMain().render(error, data, false);
</script>
</body>
</html>