<%- include('layout/_header') %>
<%- include('../components/workplace-focus/_workplace-focus') %>
<%- include('layout/_script') %>
<script>
  new WorkplaceFocus().render('http://localhost:3002/api/workplace-focus');
</script>
</body>
</html>