<%- include('layout/_header') %>
<%- include('../components/workplace-senior/_workplace-senior') %>
<%- include('layout/_script') %>
<script>
  new WorkplaceSenior().render('http://localhost:3002/api');
</script>
</body>
</html>